*.env
*.csv
*.xlsx
*.DS_Store
data/processed/GIS/inland_rivers/US_Detailed_Water_Bodies/USA_Detailed_Water_Bodies.cpg
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.shx
data/processed/GIS/inland_rivers/US_Detailed_Water_Bodies/USA_Detailed_Water_Bodies.prj
data/processed/GIS/inland_rivers/US_Detailed_Water_Bodies/USA_Detailed_Water_Bodies.dbf
data/processed/GIS/inland_rivers/US_Detailed_Water_Bodies/USA_Detailed_Water_Bodies.shp
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.cpg
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.dbf
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.prj
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.shp.xml
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.shx
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.shp
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.shp
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.cpg
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.dbf
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.prj
data/raw/RMPC/WDFW/processed/CS042_WDFW_FULL.parquet
data/raw/RMPC/WDFW/processed/MA12_RMPC_CATCH.parquet
data/raw/RMPC/WDFW/processed/RC042_WDFW_FULL.parquet
data/raw/RMPC/WDFW/processed/RL042_WDFW_FULL.parquet
data/processed/GIS/inland_waters/US_INLAND_WATERS.parquet
data/processed/FPC_DAM_COUNTS/Bonneville_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Ice Harbor_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/John Day_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Little Goose_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Lower Monumental_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/McNary_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Wannapum_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Rock Island_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Lower Granite_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Dalles_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Priest Rapids_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Rocky Reach_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Wells_FPC_DAM_COUNTS.parquet
data/processed/FPC_DAM_COUNTS/Willamette_FPC_DAM_COUNTS.parquet
data/processed/GIS/marine_zones/WDFW_MARINE_AREAS_LARGE.parquet
data/processed/GIS/ocean/TERRITORIAL_WATERS.parquet
