*.env
*.csv
*.xlsx
*.parquet
*.DS_Store
data/processed/GIS/inland_rivers/US_Detailed_Water_Bodies/USA_Detailed_Water_Bodies.cpg
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.shx
data/processed/GIS/inland_rivers/US_Detailed_Water_Bodies/USA_Detailed_Water_Bodies.prj
data/processed/GIS/inland_rivers/US_Detailed_Water_Bodies/USA_Detailed_Water_Bodies.dbf
data/processed/GIS/inland_rivers/US_Detailed_Water_Bodies/USA_Detailed_Water_Bodies.shp
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.cpg
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.dbf
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.prj
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.shp.xml
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.shx
data/processed/GIS/inland_rivers/US_WUHD_Washington/NHDWaterbody.shp
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.shp
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.cpg
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.dbf
data/processed/GIS/inland_rivers/US_Detailed_Rivers_Lines/9ae73184-d43c-4ab8-940a-c8687f61952f2020328-1-r9gw71.0odx9.prj
